/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #38b6ff;
  --ifm-color-primary-dark: #2c96d4;
  --ifm-color-primary-darker: #237fb4;
  --ifm-color-primary-darkest: #104f74;
  --ifm-color-primary-light: #4eb2ed;
  --ifm-color-primary-lighter: #7ec9f4;
  --ifm-color-primary-lightest: #a3ddff;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
